/* .custom-carousel-1::after{
    content: url(/img/bg-smartphone.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */
.pricing-table .col-md-4, .pricing-table .col-md-4 .plan{
    border-radius: 30px;
}
.pricing-table .plan{
    overflow: hidden;
    margin-bottom: 20px !important;
}
.pricing-table .plan .plan-footer{
    border: 0;
}
.btn{
    border-radius: 15px;
}
#phone-frame-slider{
    width: 100%; position: absolute; left: 0; top:0; z-index: 1;
}